#bbTimeList.bbTimeList.container(onclick=`window.open('/bb/','_self')`)
    //- bblogo(onclick="location='/bb/'",title="哔哔一下",style="font-size: 2rem;")
    i.bber-gotobb.fas.fa-solid.fa-comment(onclick="location='/bb/'",title="哔哔一下")
    #bbtalk.swiper-container
        #bber-talk.swiper-wrapper
    i.bber-gotobb.fas.fa-arrow-circle-right(onclick="location='/bb/'",title="查看全文")
.js-pjax
    script.
        var bbShortApiUrl = "https://636c-cloudbase-prepaid-4e5xmp2f9af869-1307361993.tcb.qcloud.la/json/bber.json?sign=f2ac05a0fca189798a28e8eefa8c56bc&t=1647242313"
    script(src='https://npm.elemecdn.com/swiper/swiper-bundle.min.js',data-pjax='')
    script(src='/assets/scripts/bb-index.js')
